.ct-header {
  @include displayFlex();
  width: 100vw;
  height: 50px;
  background-color: $colorHeader;
  justify-content: space-between;
}

.img-logo {
  filter: $filterPrimary;
  margin-left: 6%;
  margin-top: 1%;
  width: 15%;
}


.txtColor1 {
  color: $colorPrimary;
  margin-right: 5%;
  margin-top: 10px;
  text-decoration: none;
}

.txtColor2 {
  font-size: 1rem;
  color: rgb(62, 3, 65);
  text-decoration: none;
  margin-right: 5%;
  margin-top: 10px;
}

.txt-title {
  font-size: 1rem;
  color: $colorPrimary;
  display: flex;
  justify-content: center;
}